:root{
  --form-logo-size: 200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.form-logo {
  display: block;
  margin-bottom: 50px;
}

.form-logo img {
  width: var(--form-logo-size);
}